@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@900&display=swap');* {
    font-family: 'Noto Sans Thai', sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
}
.promot{
    line-height: 1;
    font-weight: 600;
    letter-spacing: 1px;
    color: #603913;
    font-size: 42px;
    text-transform: uppercase;
    float: left;
}
.detail{
    font-size: 22px;
    font-weight: normal;
    color: #673b0f;
    margin: 0;
    line-height: initial;
}
.img1{
    width: 500px;
    height: 500px;
}
.img2{
    width: 500px;
    height: 600px;
}
.img3{
    width: 500px;
    height: 670px;
}
.img4{
    width: 500px;
    height: 500px;
}
.img5{
    width: 500px;
    height: 500px;
}
.img6{
    width: 500px;
    height: 500px;
}
.img7{
    width: 500px;
    height: 500px;
}
.img8{
    width: 500px;
    height: 500px;
}
.img9{
    width: 500px;
    height: 500px;
}
.img10{
    width: 500px;
    height: 500px;
}
.img11{
    width: 500px;
    height: 500px;
}