@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Noto+Sans+Thai:wght@900&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@900&family=Varela+Round&display=swap%27');
.main{
    font-family: 'Noto Sans Thai', sans-serif;
    font-family: 'Varela Round', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    position: relative;
    z-index: -10;
}
.promot{
    line-height: 1;
    letter-spacing: 1px;
    font-weight: 600;
    color: #603913;
    font-size: 42px;
    text-transform: uppercase;
    float: left;
}
.detail{
    font-size: 18px;
    color: #673b0f;
    margin: 0;
    line-height: initial;
    text-align: center;
}
.img{
    width: 100%;
}
.underline{
    border-bottom:gray 0.5px solid;
}